.userlogin {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: fill;
}

ion-button {
  width: 90%;
  font-size: 1.25rem;
  --color: #ffffff;

  h3 {
    margin: .75rem 0;
  }
}

ion-button:disabled {
  --color: #ffffff;
  cursor: not-allowed;
}

h5 {
  text-align: center;
  font-size: 14px;
  color: #f2e7d5;
  margin-top: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

h5:hover {
  color: #d4a373;
}

.registro {
  color: #ffffff;
}