<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="cancel()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Nuevo post</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addPostForm" (ngSubmit)="addPost(addPostForm.value)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div (click)="uploadPhone()" class="d-flex">
            <img [src]="post_image ? post_image : 'https://cdn-icons-png.flaticon.com/512/4725/4725573.png'"
              width="50%">
            <!-- <p *ngIf="!post_image">Haz click para subir la imagen</p> -->
          </div>
          <div>
            <ng-container *ngFor="let error of FormErros.image">
              <ion-label color="danger"
                *ngIf="(addPostForm.get('image')?.hasError(error.type) && addPostForm.get('image')?.dirty)">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-textarea label="Descripción del post" labelPlacement="floating" placeholder="Cuenta lo que piensas"
            formControlName="description"></ion-textarea>
          <div>
            <ng-container *ngFor="let error of FormErros.description">
              <ion-label color="danger"
                *ngIf="(addPostForm.get('description')?.hasError(error.type) && addPostForm.get('description')?.dirty)">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-footer>
      <ion-button color="danger" type="submit" [disabled]="!addPostForm.valid" expand="full">
        Publicar
      </ion-button>
    </ion-footer>
  </form>
  <!-- <ion-button expand="block" (click)="addPost()">Subir publicación</ion-button> -->
</ion-content>