ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary);
      border: none;
  
      ion-buttons {
        color: var(--ion-color-light);
      }
    }
    ion-title{
        color: white;
    }
}