<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      HAOP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container slides-per-view="1" pagination="true"
  fadeEffect="{ crossFade: true }"
  autoplay="{ delay: 3000 }"
  loop="true">
    <swiper-slide class="bg-color-slide" ngFor="let slide of slides">
      <h1 class="title1"><ion-icon name="cut-outline"></ion-icon> High Fade In V</h1>
      <img src="assets/images/Captura.PNG">
      
      <p></p>
    </swiper-slide>
    <swiper-slide class="bg-color-slide"  ngFor="let slide of slides">
      <h1 class="title1"><ion-icon name="cut-outline"></ion-icon> Medium Fade</h1>
      <img src="assets/images/corte.jpg">
      <ion-icon name="battery-charging-outline"></ion-icon>
      <p></p>
    </swiper-slide>
    <swiper-slide class="bg-color-slide">
      <h1 class="title1"><ion-icon name="cut-outline"></ion-icon> Low Fade</h1>
      <img src="assets/images/CorteFace.jpg">
      <p></p>
    </swiper-slide>
  </swiper-container>
</ion-content>
