swiper-container {
  width: 100%;
  height: 100%;
}
swiper-slide {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color:darkblue;
}
.title1 {
  
color: darkblue;
text-align: center;
}
.bg-color-slide {
  background-image: url('/assets/images/FondoBarber.jpeg'); /* Asegúrate de usar url() */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.titulo{
  align-items: center;
  text-align: center;
  color: red;
}
::ng-deep swiper-container {
  /* Personalizar la transición */
  .swiper-slide {
    transition: opacity 0.5s ease-in-out; /* Transición suave */
  }
}

::ng-deep .swiper-container-fade .swiper-slide {
  opacity: 0; /* Inicialmente, las diapositivas estarán invisibles */
  transition: opacity 1s ease-in-out; /* Ajuste para el efecto fade */
}

::ng-deep .swiper-slide-active {
  opacity: 1 !important; /* La diapositiva activa será visible */
}
