<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{user_data.name}} {{user_data.last_name}}</ion-title>
  <br>
  <ion-avatar (click)="takePhoto()">
    <img [src]="user_data.image ? user_data.image : '/assets/img/defaul-avatar.jpeg'">
  </ion-avatar>
  <p>Usuario: {{user_data.username}}</p>
  <p>Seguidores: {{user_data.followed_users.length}}</p>
  <p>Siguendo: {{user_data.following_users.length}}</p>
</ion-content>