<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-input label="Nombre" label-placement="floating" fill="solid" placeholder="Digite su nombre" formControlName="name"></ion-input>
    <ng-container *ngFor="let error of FormErros.name">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('name')?.hasError(error.type) && registerForm.get('name')?.dirty)">
        {{ error.message }}
      </ion-label>
    </ng-container>
    <ion-input label="Apellido" label-placement="floating" fill="solid" placeholder="Digite su apellido" formControlName="last_name"></ion-input>
    <ng-container *ngFor="let error of FormErros.last_name">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('last_name')?.hasError(error.type) && registerForm.get('last_name')?.dirty)">
        {{ error.message }}
      </ion-label>
    </ng-container>
    <ion-input label="Usuario" label-placement="floating" fill="solid" placeholder="Digite su usuario" formControlName="username"></ion-input>
    <ng-container *ngFor="let error of FormErros.username">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('username')?.hasError(error.type) && registerForm.get('username')?.dirty)">
        {{ error.message }}
      </ion-label>
    </ng-container>
    <ion-input label="Email" type="email" label-placement="floating" fill="solid" placeholder="Example@email.com" formControlName="email"></ion-input>
    <ng-container *ngFor="let error of FormErros.email">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('email')?.hasError(error.type) && registerForm.get('email')?.dirty)">
        {{ error.message }}
      </ion-label>
    </ng-container>
    <ion-input label="Contraseña" type="password" label-Placement="floating" fill="solid" placeholder="Digite su contraseña" formControlName="password"></ion-input>   
    <ng-container *ngFor="let error of FormErros.password">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('password')?.hasError(error.type) && registerForm.get('password')?.dirty)">
        {{ error.message }}
      </ion-label>
    </ng-container>
    <ion-input label="Confirmar contraseña" type="password" label-Placement="floating" fill="solid" placeholder="Confirme su contraseña" formControlName="password_confirmation"></ion-input>
    <ng-container *ngFor="let error of FormErros.password_confirmation">
      <ion-label color="danger" 
      *ngIf="(registerForm.get('password_confirmation')?.hasError(error.type) && registerForm.get('password_confirmation')?.dirty)">
        {{ error.message }}
      </ion-label>
    </ng-container>
    <br>
    <div class="btnRegistro">
      <ion-button color="light" shape="round" type="submit" [disabled]="!registerForm.valid"  >
        <h2>registro</h2>
      </ion-button>  
    </div>
  </form>
</ion-content>