<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-input class="global-input" label="Nombre" label-placement="floating" fill="solid"
            placeholder="Digite su nombre" formControlName="name"></ion-input>
          <div class="global-container-label-message">
            <ng-container *ngFor="let error of FormErros.name">
              <ion-label color="light"
                *ngIf="(registerForm.get('name')?.hasError(error.type) && registerForm.get('name')?.dirty)">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-input class="global-input" label="Apellido" label-placement="floating" fill="solid"
            placeholder="Digite su apellido" formControlName="last_name"></ion-input>
          <div class="global-container-label-message">
            <ng-container *ngFor="let error of FormErros.last_name">
              <ion-label color="light"
                *ngIf="(registerForm.get('last_name')?.hasError(error.type) && registerForm.get('last_name')?.dirty)">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-input class="global-input" label="Usuario" label-placement="floating" fill="solid"
            placeholder="Digite su usuario" formControlName="username"></ion-input>
          <div class="global-container-label-message">
            <ng-container *ngFor="let error of FormErros.username">
              <ion-label color="light"
                *ngIf="(registerForm.get('username')?.hasError(error.type) && registerForm.get('username')?.dirty)">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-input class="global-input" label="Email" type="email" label-placement="floating" fill="solid"
            placeholder="Example@email.com" formControlName="email"></ion-input>
          <div class="global-container-label-message">
            <ng-container *ngFor="let error of FormErros.email">
              <ion-label color="light"
                *ngIf="(registerForm.get('email')?.hasError(error.type) && registerForm.get('email')?.dirty)">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-input class="global-input" label="Contraseña" type="password" label-Placement="floating" fill="solid"
            placeholder="Digite su contraseña" formControlName="password"></ion-input>
          <div class="global-container-label-message">
            <ng-container *ngFor="let error of FormErros.password">
              <ion-label color="light"
                *ngIf="(registerForm.get('password')?.hasError(error.type) && registerForm.get('password')?.dirty)">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-input class="global-input" label="Confirmar contraseña" type="password" label-Placement="floating"
            fill="solid" placeholder="Confirme su contraseña" formControlName="password_confirmation"></ion-input>
          <div class="global-container-label-message">
            <ng-container *ngFor="let error of FormErros.password_confirmation">
              <ion-label color="light"
                *ngIf="(registerForm.get('password_confirmation')?.hasError(error.type) && registerForm.get('password_confirmation')?.dirty)">
                {{ error.message }}
              </ion-label>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="12" class="d-flex">
          <ion-button color="danger" shape="round" type="submit" [disabled]="!registerForm.valid">
            <h3>Registrame</h3>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>